# DBF Configuration
# Use the path to the DLL on the target machine
DBF_DLL_PATH=Advantage.Data.Provider.dll
DBF_ENCRYPTION_PASSWORD=X3WGTXG5QJZ6K9ZC4VO2
# Set this to the path of your DBF files on the target machine
DBF_SOURCE_DIR=C:\path\to\your\dbf\files
# Set this to a writable location for logs
LOG_PATH=logs

# PostgreSQL Configuration
PG_DATABASE=py_process
PG_USER=postgres
PG_PASSWORD=comexcare
PG_HOST=localhost
PG_PORT=5432

# Application Settings
ENCRYPTED=False
STOP_SCRIPT=False
DEBUG_MODE=True
SQL_ENABLED=True
INTERNET_CHECK=True

# API Configuration
API_BASE_URL=https://c8.velneo.com:17262/api/vLatamERP_db_dat/v2/_process/PRO_CICLO_VTA_FAC
API_GET_URL=https://c8.velneo.com:17262/api/vLatamERP_db_dat/v2/_process/PRO_VTA_FAC_JSON
API_KEY=654321

# Date Settings
SPECIFIC_DATE=True
START=16/052025
END=16/052025

# Store Information
CLAVE_SUCURSAL=ARAUC
CLAVE_PLAZA=XALAP
CLIENT_ID=2
